* { 
  margin: 0;
  padding: 0;
}

html { 
    background: url(slub.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.light {
  min-height: 100vh;
  background-color:rgba(255, 255, 255, 0.40);
}

.dark {
  min-height: 100vh;
  background-color:rgba(0, 0, 0, 0.70);
}

.stopka {
  text-align: center;
  padding: 4vh;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: rgba(0, 0, 0, 0.5);
  background-color:rgba(255, 255, 255, 0.3);
}

.stopka-d {
  text-align: center;
  padding: 4vh;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: rgba(245,245,220,0.5);
  background-color:rgba(207, 206, 206, 0.3);
}

.zone {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 85vh;
}

.zone-d {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 85vh;
}

.container {
  text-align: center;
  background-color: rgba(244, 234, 234, 0.4);
  padding: 5vh;
}

.container-d {
  text-align: center;
  background-color: rgba(102, 100, 100, 0.4);
  padding: 5vh;
}

.button {
  position: absolute;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  margin-top: -2%;
}

.oa {
  font-family: 'Cinzel', serif;
  font-size: 7vh;
}

.oa-d {
  font-family: 'Cinzel', serif;
  font-size: 7vh;
  color: rgba(245,245,220,0.8);
}

.zapro {
  font-family: 'Dancing Script', cursive;
  font-size: 4vh;
  padding-top: 20px;
}

.zapro-d {
  font-family: 'Dancing Script', cursive;
  font-size: 4vh;
  padding-top: 20px; ;
  color: rgba(245,245,220,0.8);
}

#demo {
  color: rgb(62, 1, 49);
}